/* använd gärna root variabler för att 
lägga färg på primary/secondary ?? */
* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Quattrocento", serif;
    font-size: 3rem;
}

h2, h3, h4 {
    font-family: "Quattrocento", serif;
    padding-bottom: 0.1rem;
}

.text-gray {
    color: gray;
}

.text-green {
    color: rgb(87, 136, 87);
}

body {
    font-family: "Lato", serif;
}

button {
    background-color: rgb(87, 136, 87);
    padding: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 7px;
    border: 0;
    appearance: none;
}

button a {
    text-decoration: none;
    color: whitesmoke;
}

button:hover {
    color: white;
    background-color: rgb(107, 165, 107);
}

#top-header {
    font-family: "Quattrocento", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

main {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-areas: 
        "sidebar content";
    gap: 2rem;
    margin: 0 auto;
    margin-bottom: 4rem;
}

/* swithch to hamburger menu later */
.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-bottom: 2px solid rgb(87, 136, 87);
    border-top: 2px solid rgb(87, 136, 87);
}

.main-nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 3rem;
}

.main-nav a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    text-transform: uppercase; /* capitalize DID work but I expected UPPERCASE */
    position: relative;
    display: inline-block;
    padding: 0.5rem;
    text-align: center;
}

.main-nav a:hover {
    border-bottom-style: solid;
    border-color: rgb(87, 136, 87);
    transition: 0.1s ease;
}

.main-nav .active {
    border-bottom-style: solid;
    border-color: rgb(87, 136, 87);
}

.main-content {
    display: grid;
    grid-area: content;
    gap: 2rem;
    margin: 1rem;
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

.sidebar ul li {
    list-style: none;
    color: black;
    padding-bottom: 0.5rem;
}

.sidebar a {
    color: black;
    text-decoration: none;
}

.sidebar a:hover {
    border-bottom: 2px solid rgb(87, 136, 87);
}

.hero > div img {
    object-fit: contain;
    width: 100%;
    border-radius: 7px;
}

#hero-section {
    padding: 0.5rem;
}

.article {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: start;
    margin-bottom: 1rem;
}

.by-author {
    font-family: "Quattrocento", serif;
    color: gray;
    margin-bottom: 0.5rem;
}

footer {
    border-top: 1px solid rgb(87, 136, 87);
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
