/* använd gärna root variabler för att 
lägga färg på primary/secondary ?? */
* {
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
}

body {
    background-color: #EFE7DF;
    font-family: "Lato", serif;
    font-size: clamp(1rem, 2vw, 1.125rem);
}

h1, h2, h3, h4 {
    font-family: "Quattrocento", serif;
    padding-bottom: 0.3rem;
}

h1 {
    font-size: clamp(2rem, 6vw, 4rem);
}

h2 {
    font-size: clamp(1.5rem, 4vw, 2.5rem);
}

h3 {
    font-size: clamp(1.25rem, 3vw, 1.5rem);
}

h4 {
    font-size: clamp(1.1rem, 2.5vw, 1.4rem);
}

.text-gray {
    color: gray;
}

.text-green {
    color: #547F54;
}

button {
    background-color: #547F54;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 7px;
    border: 0;
    appearance: none;
}

button a {
    text-decoration: none;
    color: whitesmoke;
}

#top-header {
    font-family: "Quattrocento", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

main {
    margin-bottom: 1rem;
}

/* swithch to hamburger menu later */
.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-top: 3px solid #547F54;
}

.main-nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 3rem;
}

.main-nav a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    padding: 0.5rem;
    text-align: center;
}

.main-nav a:hover {
    border-bottom-style: solid;
    border-color: #547F54;
    transition: 0.1s ease;
}

.main-nav .active {
    border-bottom-style: solid;
    border-color: #547F54;
}

.content-wrapper {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 0.3rem;
    max-width: 1200px;
    padding: 2rem;
}

.main-content, 
.sidebar {
    background-color: white;
    padding: 0.5rem;
}

.sidebar {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1.5rem;
    background-color: transparent;
}

.sidebar-cards {
    background-color: white;
    padding: 1.5rem;
}

.sidebar ul li {
    list-style: none;
    color: black;
    padding-bottom: 0.5rem;
}

.sidebar a {
    color: black;
    text-decoration: none;
    font-size: 1rem;
}

.sidebar a:hover {
    border-bottom: 2px solid #547F54;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0;
}

.main-article > div img {
    object-fit: contain;
    width: 100%;
    border-radius: 3px;
}

#hero-section {
    padding: 0.5rem;
}

#hero-section a:hover {
    border-bottom: 2px solid #547F54;
}

.article, .main-article {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: start;
    padding: 1rem;
    margin-bottom: 1rem;
}

.main-article {
    border-bottom: 3px solid #EFE7DF;
}

article a {
    color: #547F54;
    text-decoration: none;
    font-weight: bold;
}

.article a:hover {
    border-bottom: 2px solid #547F54;
}

.main-article ul {
    list-style: circle;
    margin-left: 3rem;
    margin-bottom: 1rem;
}

.by-author {
    font-family: "Quattrocento", serif;
    color: gray;
}

.news-feed img {
    object-fit: contain;
    max-width: 50%;
    border-radius: 3px;
}

blockquote {
    text-align: center;
    font-style: italic;
    padding: 1rem;
}

footer {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;

}

footer a{
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
    color: black;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    text-align: center;
}

    /* footer moves disturbingly when hovering */
footer a:hover {
    border-bottom-style: solid;
    border-color: #547F54;
    transition: 0.1s ease;
}

footer ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 3rem;
}